{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #results{
            margin-top: 30px;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Search</h1>

        <article class="row">

            {{ form_start(form)}}

            <div class="row col s11">

                <span class="col s6">
                {{form_row(form.performance_thesaurus, {
                    'label' : "Performance type"
                })}}
                </span>

                <span class="col s6">
                {{form_row(form.source_thesaurus, {
                    'label' : "Source"
                })}}
                </span>


            </div>

            <button class="btn-floating btn-large waves-effect waves-light red" type="submit" formnovalidate><i class="material-icons">search</i></button>


            {{ form_end(form)}}

            {#<input type="text">#}


        </article>

        <article class="card" id="results">

            <h2>{{ numbers|length }} number(s)</h2>


            <div>
            {% for item in numbers  %}
                <span class="chip">{{ item.title }}</span>
            {% endfor %}
            </div>
            <hr>

            <h2>{{ choreographers|length }} choreographer(s)</h2>

            <div>
            {% for item in choreographers  %}
                <span class="chip">{{ item.name }}({{ item.nb }})</span>
            {% endfor %}
            </div>

            <hr>

            <h2>{{ performers|length }} performers(s)</h2>

            <div>
                {% for item in performers  %}
                    <span class="chip">{{ item.name }}({{ item.nb }})</span>
                {% endfor %}
            </div>

            <hr>

            <h2>{{ songs|length }} songs(s)</h2>

            <div>
                {% for item in songs  %}
                    <span class="chip">{{ item.title }}({{ item.nb }})</span>
                {% endfor %}
            </div>

        </article>
    </section>

{% endblock %}