{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #results{
            margin-top: 30px;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Search</h1>



    </section>

{% endblock %}