<div class="container">
<article class="card row">
    <div class="col s12">
        <h2>Persons associated to {{ person.name }}</h2>

        <article>
            <h3>Choreographers</h3>

            <table class="striped mini-table tablesorter">
                <thead>
                <tr>
                    <th>Associated choreographers</th>
                    <th>Number</th>
                    <th>Film</th>
                </tr>
                </thead>
                <tbody>
                {% for item in associated_choreographers  %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td><a href="{{ path('number' ,{'id' : item.id}) }}">{{ item.title }}</a></td>
                        <td><a href="{{ path('film' ,{'filmId' : item.filmId}) }}">{{ item.film }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </article>

        <article>
            <h3>Composers</h3>

            <table class="striped mini-table tablesorter">
                <thead>
                    <tr>
                        <th>Associated composer</th>
                        <th>Song</th>
                        <th>Number</th>
                        <th>Film</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in associated_composers  %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.song }}</td>
                        <td><a href="{{ path('number' ,{'id' : item.id}) }}">{{ item.number }}</a></td>
                        <td><a href="{{ path('film' ,{'filmId' : item.filmId}) }}">{{ item.film }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </article>

        <article>
            <h3>Lyricists</h3>

            <table class="striped mini-table tablesorter">
                <thead>
                <tr>
                    <th>Associated lyricist</th>
                    <th>Song</th>
                    <th>Number</th>
                    <th>Film</th>
                </tr>
                </thead>
                <tbody>
                {% for item in associated_lyricists  %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.song }}</td>
                        <td><a href="{{ path('number' ,{'id' : item.id}) }}">{{ item.number }}</a></td>
                        <td><a href="{{ path('film' ,{'filmId' : item.filmId}) }}">{{ item.film }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </article>
    </div>
</article>
</div>