<div class="container">

    <article class="card row">
    <div class="col s12">

        <h2>Presence of {{ person.name }} in numbers</h2>

        <article class="s6 col">

            <p>List of films chronologically sorted by release date with the duration in seconds of all numbers (even the numbers where {{ person.name }} is not present) : <span class="number">{{ lengthTotal|length}}</span></p>


                <h3 class="title-mini">List of films chronologically sorted by release date with the duration in seconds of all numbers (even the numbers where {{ person.name }} is not present)</h3>

                <table class="striped tablesorter mini-table">
                    <thead>
                        <tr>
                            <th>Length of all numbers</th>
                            <th>Released</th>
                            <th>Total (in sec)</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for item in lengthTotal  %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.released }}</td>
                        <td>{{ item.total }}</td></tr>
                {% endfor %}
                    </tbody>
                </table>

        </article>

        <article class="s6 col">
        <h3 class="title-mini">List of films chronologically sorted by release date with the duration in seconds of all numbers (even the numbers where {{ person.name }} is present)</h3>

        <table class="striped tablesorter mini-table">
            <thead>
            <tr>
                <th>Length of numbers where {{ person.name }} is present</th>
                <th>Date</th>
                <th>Total (sec)</th>
            </tr>
            </thead>
            <tbody>
                {% for item in lengthTotalForPerson  %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.released }}</td>
                        <td>{{ item.total }}</td></tr>
                {% endfor %}
            </tbody>
        </table>


        <h3 class="title-mini">Ratio performer’s presence duration / total duration of numbers for each film</h3>


            <table class="striped tablesorter mini-table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Presence</th>
                </tr>
                </thead>
                <tbody>
                {% for item in ratio  %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.released }}</td>
                        <td>{{ ((item.one / item.all)*100)|round()  }}%</td></tr>
                {% endfor %}
                </tbody>
            </table>

        </article>

    </div>
</article>
</div>