
{{form_row(songForm.title, {
    'label' : "Title"
})}}
{{form_row(songForm.date, {
    'label' : "Date"
})}}
{{form_row(songForm.lyricist, {
    'label' : "Lyricist(s)"
})}}
{{form_row(songForm.composer, {
    'label' : "Composer(s)"
})}}
{{form_row(songForm.songtype)}}

