{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/editor/number.css')}}">
{% endblock %}

{% block body %}

<div class="container-fluid row">

	<section class="col s3 menu">
		<h3>Navigation</h3>
		<li>Title</li>
		<li>Director</li>
		<li>Outlines</li>
		<li>Structure</li>
		<li>Shots</li>
		<li>Performers</li>
		<li>Backstage</li>
		<li>Themes</li>
		<li>Tone</li>
		<li>Dance</li>
		<li>Music</li>
		<li>Source(s)</li>
		<li>Complement</li>
	</section>

	<section class="col s8">

	<h1>Add a number </h1>

	{{ form_start(numberForm)}}

		{{ include('CmsBundle:Number:_form.html.twig')}}
		<button class="btn black" type="submit" formnovalidate >New Number</button>

	{{ form_end(numberForm)}}
	</section>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/timecode.js') }}"></script>
	<script>
//		$(".menu li:not(.active)").hide();

		$(".menu li").click(function(){
			$(".menu li").removeClass("active");
			$(this).addClass("active");

			var nbItem = $(this ).index();
			$(".cartouche").hide();
			$("form .cartouche:nth-child("+nbItem+")").fadeIn();
		});

	</script>

{% endblock %}