<!DOCTYPE HTML>

    <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
    <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
    <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
    <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
    <!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title>{% block title %}MC2 - plateforme de visualisation de comédie musicale{% endblock %}</title>

      {% block stylesheets %}

      <!--Import Google Icon Font (imported in local in style.css)-->
      {#<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
      
      <!--Import materialize.css-->
      <link rel="stylesheet" href="{{ asset('assets/vendor/materialize/dist/css/materialize.css')}}">

      <!-- NVD3 -->
      <link rel="stylesheet" href="{{asset('assets/vendor/nvd3/build/nv.d3.css')}}">

      <!-- jqcloud 2 -->
      <link rel="stylesheet" href="{{ asset('assets/vendor/jqcloud2/dist/jqcloud.min.css') }}">

      <!-- custom -->
      <link rel="stylesheet" href="{{ asset('css/style.css')}}"> 
      
      {% endblock %}
    
    </head>

    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <body>


    {% block header %}

    <!-- Nav & Log FOS -->

        <ul id="menu_editor" class="dropdown-content">
            <li><a href="{{ path('editor') }}">dashboard</a></li>
            {#<li><a href="{{ path('editor_assist') }}">assist</a></li>#}
            <li class="divider"></li>
            <li><a href="{{ path('editorNewPerson') }}">add person</a></li>
            <li><a href="{{ path('editorNewSong') }}">add song</a></li>
        </ul>

        <ul id="menu_admin" class="dropdown-content">
            <li><a href="{{ path('admin') }}">my admin page</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('editorNewFilm') }}">add Film</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('stageshow_new') }}">add Stage Show</a></li>
            <li><a href="{{ path('stageshows') }}">all Stage Shows</a></li>
            <li class="divider"></li>
            {#<li><a href="{{ path('stagesnumber_new') }}">add Stage number </a></li><!-- (à enlever et à ajouter à la page stage show) -->#}
        </ul>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">

                <img id="logo" src="{{ asset('img/labex_web-develop-gris-clair.png') }}" alt="">

                <a href="/" class="brand-logo left">MC2</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">


                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted('ROLE_MEMBER') %}
                            <li><a class="dropdown-button" href="#!" data-activates="menu_editor">edition<i class="material-icons right">arrow_drop_down</i></a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a class="dropdown-button" href="#!" data-activates="menu_admin">admin<i class="material-icons right">arrow_drop_down</i></a></li>
                        {% endif %}
                    {% endif %}

                    <li><a href="{{ path('thesaurus', {'type' : "all"}) }}">thesaurus</a></li>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('editor') }}" class="inline">connected as {{ app.user.username }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">logout</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">connexion</a></li>
                    {% endif %}
                </ul>

            </div>
        </nav>
    </div>

    {% endblock %}


    {% for msg in app.session.flashBag.get('success') %}
        <div class="container">
         <div class="card-panel">
             <span class="teal-text">{{msg}}</span>
         </div>
        </div>
    {% endfor %}


    <!-- Block body -->

    <!-- end block body -->


    {% block body %}{% endblock %}

    {% block footer %}
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Partnerships</h5>

                        <p class="grey-text text-lighten-4">This project is supported by the Labex Arts-H2H and benefits from financial support from the ANR as part of the “Investments for the future” program (ANR-10-LABX-80-01).</p>

                        {#<p class="grey-text text-lighten-4">Logo and list of partners - in progress</p>#}
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul class="browser-default">
                            <li><a class="grey-text text-lighten-3" href="{{ path('howto')}}">how to</a></li>
                            <li><a class="grey-text text-lighten-3" href="{{ path('news')}}">news</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    2017 - Version 0.3.12
                    <a class="grey-text text-lighten-4 right" href="{{ path('about')}}">About</a>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %} 

    <!-- JQuery -->


    <script src = "{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
    {#<script#}
            {#src="https://code.jquery.com/jquery-3.1.1.min.js"#}
            {#integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="#}
            {#crossorigin="anonymous"></script>#}

    <!-- jquery 2 for parallax -->
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>


    <!--  Isotope -->
    <script src="{{ asset('assets/vendor/isotope/dist/isotope.pkgd.js') }}"></script>

    <!-- Vis.js -->
    <script src="{{ asset('assets/vendor/vis/dist/vis.js') }}"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="{{asset('assets/vendor/materialize/dist/js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/vendor/materialize/js/parallax.js')}}"></script>

    <!-- D3.JS -->
    <script src="{{ asset('assets/vendor/d3/d3.min.js') }}"></script>
{#  <script type="text/javascript" src="https://cdnjs.com/libraries/Chart.js"></script> #}
    <!-- END D3.JS -->

    <!-- nvD3 -->
    <script src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>

    <!-- jqcloud 2(words cloud) -->
        <script src="{{ asset("assets/vendor/jqcloud2/dist/jqcloud.min.js") }}"></script>
    <!-- END jqcloud -->

    <!-- Table sorter -->
    <script type="text/javascript" src="{{ asset('assets/vendor/tablesorter/jquery.tablesorter.js') }}"></script>

    <!-- Tool tip -->
    <script src="{{ asset('assets/vendor/d3-tip/index.js') }}"></script>

    <!-- Custom -->
    <script src="{{ asset('js/mc2.js') }}"></script>

    {% endblock %} <!-- javascript block -->

    </div>
    </body>
</html>

