{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}

    {{parent()}}

    <link href="{{asset('assets/vendor/vis/dist/vis.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('css/film.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body %}

    <section class='container' id='film'>

        <div class="row">

            <div class="col s3">
                <h1>{{film.title}}</h1>
                <img src="http://img.omdbapi.com/?i={{ film.idImdb }}&apikey=1733f6a&h=300" alt="poster">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} <!-- combiner les deux fonctionnalités admin dans un même champ ? -->
                    <div class="center row films-btn">

                        {% if is_granted("ROLE_USER") %}
                            <a href="{{path('number_new', {filmId : film.filmId }) }}"><button class="btn white red-text">Add a number</button></a>
                        {% endif %}

                        {% if is_granted("ROLE_EDITOR") %}
                            <a href="{{path('film_edit', { filmId : film.filmId })}}"><button class="btn white red-text">edit</button></a>
                        {% endif %}

                        {#<a href="#"><button class="btn red">Complete</button></a> <!-- définir une fonction pour bloquer les numbers -->#}
                    </div>
                {% endif %}
            </div>

            <div class="col s9">
                <br><br>

                <div class="row card">

                    <div class="col s12">
                        <h2>General information</h2>
                    </div>
                    <div class="col s6">
                        <p><strong>Studio :</strong> {% for item in film.studios  %}{{ item.title }}{%  if loop.last %}{% else %} ;{% endif %} {% endfor %}</p>
                        <p><strong>Distributor :</strong>{% for item in film.distributors %}{{ item.title }}{%  if loop.last %}{% else %} ;{% endif %} {% endfor %}</p>
                    </div>

                    <div class="col s6">
                        <p><strong>Director :</strong> {% for director in film.directors  %}{{ director.name }}{%  if loop.last %}{% else %} ;{% endif %}{% endfor %}</p>
                        <p><strong>Released :</strong> {{ film.released }}</p>
                    </div>

                    <div class="row">

                        <article class='col s12 m12'>

                            <table class="table striped middle-table tablesorter">
                                <thead>
                                <tr>
                                    <th>Order</th>
                                    <th>Title</th>
                                    <th>Begin Timecode</th>
                                    <th>Ending Timecode</th>
                                    <th>Length</th>
                                    {#<th>Performers</th>#}
                                    <th>Average shot length</th>
                                    <th>Structure</th>
                                    {% if is_granted("ROLE_EDITOR") %}
                                        <th>Edit</th>
                                    {% endif %}
                                    <th>View</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for number in numbersOf1Film %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td><a href="{{ path('number', {'id' : number.id}) }}">{{ number.title  }}</a></td>
                                        <td>{{ number.beginTc }}</td>
                                        <td>{{ number.endTc }}</td>
                                        <td>{{ number.length }}</td>
                                        <td>{{ number.average|round() }}</td>
                                        <td>{{ number.structure }}</td>
                                        {#<td>{% for item in number.performers  %}{{ item.performer }}{% if loop.last %}{% else %}, {% endif %}{% endfor %}</td>#}

                                        {% if is_granted("ROLE_EDITOR") %}
                                            <td>
                                                <a href="{{path('number_edit', { id : number.id })}}">edit</a>
                                            </td>
                                        {% endif %}


                                        <td>
                                            <a href="{{path('number', { id : number.id })}}">view</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </article>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="row">



            <article class="col s12 m6">
                <h3>Number's distribution</h3>

                <div id="donut">
                    <svg style="height:500px;"></svg>
                </div>
            </article>

            <article class='col s12 m6'>

                <h2>Lengths</h2>

                <div class="row">
                    <article class="card col cyan s12 m6">
                        <div class="card-content white-text center-align">
                            <p class="center-align number">   {% for number in numberSumLength %}
                                {% if number.total > 0 %}
                                {{(number.total/60)|round}} min
                                {% else %}
                            <p>N/A</p>
                            {% endif %}

                            {% endfor %}</p>
                            <p class="center-align number-label">Sum of all numbers</p>
                        </div>
                    </article>

                    <article class="card light-green col s12 m6">
                        <div class="card-content white-text center-align">
                            <p class="center-align number">{{((film.length)/60)|round}} min</p>
                            <p class="center-align number-label">Movie Length</p>
                        </div>
                    </article>
                </div>

                <div class="row">
                    <article class="card cyan col s12 m6 deep-orange">
                        <div class="card-content white-text center-align">
                            <p class="center-align number">   {% for number in numberSumLength %}
                                {% if number.total > 0 %}
                                {{(number.total)|round}} s
                                {% else %}
                            <p>N/A</p>
                            {% endif %}

                            {% endfor %}</p>
                            <p class="center-align number-label">Sum of all numbers</p>
                        </div>
                    </article>

                    <article class="card red accent-2 col s12 m6">
                        <div class="card-content white-text center-align">
                            <p class="center-align number">{{film.length}} sec</p>
                            <p class="center-align number-label">Movie Length</p>
                        </div>
                    </article>
                </div>

                <div class="row">
                    <article class="card amber col s12 m12">
                        <div class="card-content white-text center-align">
                            <p class="center-align number">{% for number in numberSumLength %}

                                {% if number.total > 0 %}
                                {{((number.total/number.length)*100)|round(2, 'floor') }}%
                                {% else %}
                            <p>N/A</p>
                            {% endif %}

                            {% endfor %}</p>
                            <p class="center-align number-label">Ratio number/total length</p>
                        </div>
                    </article>
                </div>

                <div class="row">
                    <article class="card  deep-orange col s12 m6">
                        <div class="card-content white-text center-align">
                            <p class="center-align number">{% for number in numberAverageLength %}{{number.average|round}} sec{% endfor %}</p>
                            <p class="center-align number-label">Average number length for {{film.title}}</p>
                        </div>
                    </article>

                    <article class="card pink lighten-2 col s12 m6">
                        <div class="card-content white-text center-align">
                            <p class="center-align number">{% for number in numbersAverageLength %}{{number.average|round}} sec{% endfor %}</p>
                            <p class="center-align number-label">Average number length for all the movies</p>
                        </div>
                    </article>
                </div>
            </article>

        </div>

        <hr>

        <div class="row">

            <article id="tabTimelineContainer" class="col s3">
                <h3> Cast </h3>
                <div >
                    <table class="highlight mini-table" id="table_cast">
                        <tr>
                            <th>Color</th>
                            <th>Cast</th>
                        </tr>
                        <tr style="height: 15px;">
                            <td><svg style="width: 50px; height: 15px"><circle cx="25" cy="7.5" r="6" fill="#8d0000"></circle></svg></td>
                            <td>All Black cast</td>
                        </tr>
                        <tr style="height: 15px;">
                            <td><svg style="width: 50px; height: 15px"><circle cx="25" cy="7.5" r="6" fill="#ff8d8d"></circle></svg></td>
                            <td>All White cast</td>
                        </tr>
                        <tr style="height: 15px;">
                            <td><svg style="width: 50px; height: 15px"><circle cx="25" cy="7.5" r="6" fill="#ff3838"></circle></svg></td>
                            <td>All Latin cast</td>
                        </tr>
                        <tr style="height: 15px;">
                            <td><svg style="width: 50px; height: 15px"><circle cx="25" cy="7.5" r="6" fill="#CC0000"></circle></svg></td>
                            <td>Mixed Race cast</td>
                        </tr>
                        <tr style="height: 15px;">
                            <td><svg style="width: 50px; height: 15px"><circle cx="25" cy="7.5" r="6" fill="#a90000"></circle></svg></td>
                            <td>Mixed Race Extras</td>
                        </tr>
                        <tr style="height: 15px;">
                            <td><svg style="width: 50px; height: 15px"><circle cx="25" cy="7.5" r="6" fill="#7F7F7F"></circle></svg></td>
                            <td>NA</td>
                        </tr>
                    </table>
                </div>
            </article>

            <article id = "container" class="col s9">
                <h3>Graphe/ Timeline</h3>
                <div class = "svg"></div>
                <div id = "tag"></div>
            </article>
        </div>

    </section>

{% endblock %}

{% block javascripts %}

    {{parent()}}
    <script type="text/javascript" src="{{ asset('js/length_timeline.js') }}"></script>

    <script type="text/javascript">

        //title, begin-tc, ending-tc
        var items = new vis.DataSet([
            {% for number in numbersOf1Film %}
            {id: {{loop.index}}, content: '{{number.title}}', start: {{number.beginTc}}, end: {{number.endTc}}, shots: {%  if number.shots != null %}'{{ number.shots }}'{% else %}0{% endif %}, cast: {%  if number.cast != null %}'{{ number.cast }}'{% else %}0{% endif %} }{% if loop.last %}{% else %},{% endif %}
            {% endfor %}
        ]);


        nv.addGraph(function() {
            var chart = nv.models.pieChart()
                    .x(function(d) { return d.label })
                    .y(function(d) { return d.value })
                    .showLabels(true)     //Display pie labels
                    .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                    .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                    .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                    .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                ;
            d3.select("#donut svg")
                .datum(numberLengthData ())
                .transition().duration(350)
                .call(chart);

            return chart;
        });

        function numberLengthData() {
            return  [
                {% for number in numbersOf1Film %}
                {"label" : "{{number.title}}",
                    "value" : "{{number.length}}"},
                {% endfor %}
            ];

        }

        //Timeline Ale

        create_gant(items,{{ film.length }});

    </script>

{% endblock %}

