h1{
    font-size: 8em;
    text-align: center;
    margin-bottom: 30px;
}

.huge{
    color: rgb(204, 0, 0);
}

.big-card{

    /*height: 250px;*/
    line-height: 6em;
}

.big-card p{
    font-size: 3em;
    padding: 0px 10px;
}

.more{
    margin-top: -5px;
    margin-bottom: 30px;
    font-style: italic;
    font-size: 0.9em;
}

.strong{
    color : black;
    font-weight: bold;
}

.major{
    font-size: 2em;
}

.billet article{
    margin-top:-15px;
    margin-bottom: -15px;
}