{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .donut{
            height: 400px;
        }
        .chip a{
            color:black;
        }

        .card{
            padding:2em;
            height:auto;
        }

        body{
            background: #f7f7f7;
        }

        .parallax-container {
            height: 340px;
        }

    </style>
{% endblock %}

{% block body %}


    <div class="parallax-container">
        <br><br>
        <h1 class="center uppercase">Censorship</h1>
        {#<p class="center white-text">Informations about censorship : verdicts, legion, harrison, etc.</p>#}
        <div class="parallax"><img src="{{ asset('img/42nd-street-poster.jpg') }}"></div>
    </div>

    <section class="container">

        <article class="card">
            <h2>PCA verdict</h2>

            <p>Total : <span class="number">{{ nbFilmsWithVerdict.nb }}</span> films</p>

            <!-- Diagramme du nombre de films avec verdict par années -->
            <div id="diagram_verdict"></div>

            <div class="row ">

                <div id="chart_div" class="donut s7 col"></div>
                <div class="col s5">
                    <h3>List of items</h3>
                    {% for item in verdict  %}
                    <span class="chip"><a href="{{ path('censorship_verdict', {'verdict' : item.verdict}) }}">{{ item.verdict }}({{ item.nb }})</a></span>
                {% endfor %}</div>
            </div>

        </article>

        <article class="card">
            <h2>Censored contents</h2>

            <p>Total : <span class="number">{{ nbFilmsWithCensorship.nb }}</span> films</p>
            <div id="diagram_censorship"></div>

            <div class="row ">

                <div id="chart_div2" class="donut s7 col"></div>
                <div class="col s5">
                {% for item in censorship  %}
                    <p class="chip"><a href="{{ path('censorship_content', {'content' : item.title}) }}">{{ item.title }} ({{ item.nb }})</a></p>
                {% endfor %}
            </div>
        </article>


        <article class="card">

            <h2>Legion of Decency</h2>

            <p>Total : <span class="number">{{ nbFilmsWithLegion.nb }}</span> films</p>

            <div id="diagram_legion"></div>

            <div class="row ">

                <div id="chart_div3" class="donut s7 col"></div>

                <div class="col s5">
                {% for item in legion  %}
                    <p class="chip"><a href="{{ path('censorship_legion' , {'legion' : item.legion}) }}">{{ item.legion }}({{ item.nb }})</a></p>
                {% endfor %}
            </div>
        </article>


        {#<h2>Harrison</h2>#}
        {#<p>(pb avec l'import, doublons de protestant - à refaire avec la bonne colonne)</p>#}
        {#{% for item in harrison  %}#}
            {#<p>{{ item.harrison }}({{ item.nb }})</p>#}
        {#{% endfor %}#}

        {#<h2>Protestant</h2>#}
        {#{% for item in protestant  %}#}
            {#<p>{{ item.protestant }}({{ item.nb }})</p>#}
        {#{% endfor %}#}

        {#<h2>Board</h2>#}
        {#{% for item in board  %}#}
            {#<p>{{ item.board }}({{ item.nb }})</p>#}
        {#{% endfor %}#}


    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            //Donuts verdict
            var data = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in verdict  %}
                ['{{ item.verdict }}', {{ item.nb }}],
                {% endfor %}
            ]);


            var options = {
                title: 'PCA verdict',
                pieHole: 0.4,
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);


            //Donuts Censorship
            var data2 = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in censorship  %}
                ['{{ item.title }}', {{ item.nb }}],
                {% endfor %}
            ]);


            var options = {
                title: 'Censored content',
                pieHole: 0.4,
            };

            var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart2.draw(data2, options);

            //Donuts censorship
            var data3 = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in legion  %}
                ['{{ item.legion }}', {{ item.nb }}],
                {% endfor %}
            ]);


            var options = {
                title: 'Legion of Decency',
                pieHole: 0.4,
            };

            var chart3 = new google.visualization.PieChart(document.getElementById('chart_div3'));
            chart3.draw(data3, options);

        }

        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

            //diagram censorship
            var data4 = new google.visualization.DataTable();
            data4.addColumn('number', 'Year');
            data4.addColumn('number', 'Number of Films with Verdict');

            data4.addRows([
                {% for item in nbVerdict  %}
                [{{ item.released }}, {{ item.nb }}],
                {% endfor %}

            ]);

            var options4 = {
                hAxis: {
                    title: 'Years'
                },
                vAxis: {
                    title: 'Films'
                },
            };

            var chart4 = new google.visualization.LineChart(document.getElementById('diagram_verdict'));
            chart4.draw(data4, options4);


            //diagram verdict
            var data5 = new google.visualization.DataTable();
            data5.addColumn('number', 'Year');
            data5.addColumn('number', 'Number of Films with Censored content');


            data5.addRows([
                {% for item in nbCensorship  %}
                [{{ item.released }}, {{ item.nb }}],
                {% endfor %}

            ]);

            var options5 = {
                hAxis: {
                    title: 'Years'
                },
                vAxis: {
                    title: 'Films'
                },
            };

            var chart5 = new google.visualization.LineChart(document.getElementById('diagram_censorship'));
            chart5.draw(data5, options5);

        //diagram legion
        var data6 = new google.visualization.DataTable();
        data6.addColumn('number', 'Year');
        data6.addColumn('number', 'Number of Films with verdict from the legion of decency');


        data6.addRows([
            {% for item in nbLegion  %}
            [{{ item.released }}, {{ item.nb }}],
            {% endfor %}

        ]);

        var options6 = {
            hAxis: {
                title: 'Years'
            },
            vAxis: {
                title: 'Films'
            },
        };

        var chart6 = new google.visualization.LineChart(document.getElementById('diagram_legion'));

        chart6.draw(data6, options6);
        }

    </script>



{% endblock %}

