{% extends "base.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    <style>
        .card{
            padding:30px;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="container">

        <h2>Numbers with subgenre {{ subgenre.title }} and {{ item.type }} <!--{{ item.category }} --> {{ item.title }}</h2>

        <article class="card">
            <div class="row">
                <h3>Number of occurences of {{ subgenre.title }} with {{ item.title }} ({{ item.type }}) by year</h3>
                <div id="diagram"></div>
            </div>
        </article>

        <article class="card">

            <h2>List of numbers</h2>
        <table class="striped">
            <tr>
                <th>Number</th>
                <th>Film</th>
            </tr>

        {% for item in general  %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.film }}</td>
            </tr>
        {% endfor %}
        </table>
        </article>

        <article class="card">
            <h2>Performers connected</h2>
            {% for person in performers  %}
                <span class="chip">{{ person.name }} ({{ person.nb }})</span>
            {% endfor %}
        </article>
    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in itemsByYear  %}
                ['{{ item.released }}', {{ item.nb }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Number of dance',
                legend: {position: 'none'},
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('diagram'));
            chart.draw(data, options);
        }

        {#google.charts.load('current', {packages: ['corechart', 'line']});#}
        {#google.charts.setOnLoadCallback(drawBasic);#}
        {#function drawBasic() #}{#}#}
            {#//diagram#}
            {#var data = new google.visualization.DataTable();#}
            {#data.addColumn('number', 'Year');#}
            {#data.addColumn('number', 'Occurences');#}

            {#data.addRows([#}
                {#{% for item in itemsByYear  %}#}
                {#[{{ item.released }}, {{ item.nb }}],#}
                {#{% endfor %}#}
            {#]);#}

            {#var options = #}{#}#}
                {#hAxis: #}{#}#}
                    {#title: 'Years'#}
                {#},#}
                {#vAxis: #}{#}#}
                    {#title: 'Numbers of items'#}
                {#},#}
            {#};#}


            {#var chart = new google.visualization.LineChart(document.getElementById('diagram'));#}

            {#chart.draw(data, options);#}
//        }

    </script>

{% endblock %}