{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/number.css')}}">
    <style>

        h1{
            font-size: 1.5em;
            text-align: center;
        }

        h2 {
            font-size: 1.2em;
            text-align: center;
        }
        .row{
            margin-top: 10px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block body %}


    {#Liste des éléments à supprimer dans la BD

    - begin
    - ending
    - performance type
    - spectators
    - Dancing type

    #}

    {#
        - rendre les items de la page cliquable à partir de completeness (sauf données numériques) (vers une page listant tous les films et tous les numbers)
        - faire apparaitre les paroles de la chanson
        - faire apparaitre l'image du number (en haut à gauche par exemple)
    #}

    <section class="container" id="number">

        <div class="row">
            <h1 class="center">{{ number.title }}{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<small> - <a href="{{ path('number_edit', {'id' : number.id}) }}">edit</a></small>{% endif %} </h1>
            <h1 class="center">[{{ number.film }}]</i>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<small> {% endif %} </h1>
        </div>

        <div class="row">

            <div class="col s12">

                <h2>Description</h2>


                <table class="striped middle-table">
                    <tr>
                        <th>Begin timecode</th>
                        <th>End timecode</th>
                        <th>Begin</th>
                        <th>Ending</th>
                        {#<th>Comments</th>#}
                        <th>Completeness</th>
                        <th>Completeness Options</th>
                        <th>Structure</th>
                        <th>Shots</th>
                        <th>Average shot length</th>
                    </tr>

                    <tr>
                        <td>{{ ((number.beginTc)/(60*60))|round(0, 'floor') }}h{{ ((number.beginTc)/(60)) |round(0, 'floor')-(60*((number.beginTc)/(60*60)) |round(0, 'floor'))  }}m{{ (number.beginTc) |round(0, 'floor')-(60*((number.beginTc)/(60)) |round(0, 'floor')) }}s</td>
                        <td>{{ ((number.EndTc)/(60*60))|round(0, 'floor') }}h{{ ((number.EndTc)/(60)) |round(0, 'floor')-(60*((number.EndTc)/(60*60)) |round(0, 'floor'))  }}m{{ (number.EndTc) |round(0, 'floor')-(60*((number.EndTc)/(60)) |round(0, 'floor')) }}s</td>
                        <td>{{ number.beginThesaurus  }}</td>
                        <td>{{ number.endingThesaurus  }}</td>
                        {#<td>{{ number.commentTc }}</td>#}
                        <td>{{ number.completenessThesaurus }}</td>
                        <td>{% for completoption in number.completoptions %}{{ completoption }}{% endfor %}</td>
                        <td>{{ number.structure }}</td>
                        <td>{{ number.shots }}</td>
                        {#calculer avg shots length#}
                        <td></td>

                    </tr>
                </table>
            </div>
        </div>

        {#<div class="row">#}
            {#<div class="col s6">#}
                {#<h2>Structure</h2>#}
                {#<table class="striped middle-table">#}
                    {#<tr>#}
                        {#<th>Structure</th>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>{{ number.structure }}</td>#}
                    {#</tr>#}
                {#</table>#}
            {#</div>#}

            {#<div class="col s6">#}
                {#<h2>Shots</h2>#}

                {#<table class="striped middle-table">#}
                    {#<tr>#}
                        {#<th>Shots</th>#}
                        {#<th>Average shot length</th>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>{{ number.shots }}</td>#}
                    {#</tr>#}
                {#</table>#}
            {#</div>#}

        </div>

        <div class="row">
            <div class="col s12">
                {#<h2>Performers</h2>#}
                <table class="striped middle-table">
                    <tr>
                        <th>Performance</th>
                        <th>Performers</th>
                        <th>Cast</th>
                        <th>Stars who don't participate</th>

                    </tr>
                    <tr>
                        <td>{{ number.performanceThesaurus }}</td>
                        <td>{% for person in number.performers %}{{ person }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{{ number.cast }}</td>
                        <td>{% for person in number.figurants %}{{ person }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <h2>Backstage</h2>
                <table class="striped middle-table">
                    <tr>
                        <th>Spectators</th>
                        <th>Diegetic performance ?</th>
                        <th>Visible musicians</th>
                    </tr>
                    <tr>
                        <td>{{  number.spectatorsThesaurus }}</td>
                        <td>{{ number.diegeticThesaurus }}</td>
                        <td>{{ number.musicianThesaurus }}</td>
                    </tr>
                </table>
            </div>

            <div class="col s6">
                <h2>Tone and topic</h2>

                <table class="striped middle-table">
                    <tr>
                        <th>Tone</th>
                        <th>Topic</th>
                        <th>Comment</th>
                    </tr>
                    <tr>
                        <td>{% for mood in number.generalMood %}{{ mood.title }}{% if loop|last %}{% else %}; {% endif %}{% endfor %}</td>
                        <td>{% for mood in number.genre %}{{ mood.title }}{% if loop|last %}{% else %}; {% endif %}{% endfor %}</td>
                        <td>{{ number.commentMood }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h2>Themes</h2>
                <table class="striped middle-table">
                    <tr>
                        <th>Costumes</th>
                        <th>Ethinc stereotypes</th>
                        <th>Diegetic place</th>
                        <th>General localisation</th>
                        <th>Imaginary place </th>
                        <th>Exoticism</th>
                    </tr>
                    <tr>
                        <td>{% for costume in number.costumes %} {{ costume }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{% for stereotype in number.stereotype %} {{ stereotype }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{% for place in  number.diegeticPlaceThesaurus %}{{ place }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{% for place in  number.generalLocalisation %}{{ place }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{% for imagination in number.imaginary %}{{ imagination }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{% for exoticism in number.exoticismThesaurus%}{{ exoticism }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <h2>Dance</h2>

                <table class="striped middle-table">
                    <tr>
                        <th>Choregraphers</th>
                        <th>Dance Ensemble</th>
                        <th>Dancing type (thesaurus)</th>
                        <th>Dance subgenre</th>
                        <th>Dance content</th>
                        <th>Dance comments</th>
                    </tr>
                    <tr>
                        <td>{% for person in number.choregraphers %}{{ person }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</span></td>
                        <td>{% for item in number.dancemble %}{{ item }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{% for item in number.dancingtype %}{{ item.title }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{% for item in number.dancesubgenre %}{{ item.title }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{% for item in number.dancecontent %}{{ item.title }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{{ number.commentDance }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h2>Music</h2>

                <table class="striped middle-table">
                    <tr>
                        <th>Song</th>
                        <th>Music ensemble</th>
                        <th>Dubbing</th>
                        <th>Tempo</th>
                        <th>Musical style</th>
                        <th>Arrangers</th>
                        <th>Arrangers comment</th>
                        {#<th>Lyrics</th>#}
                        <th>Music comment</th>
                    </tr>
                    <tr>
                        <td>{% for song in number.song %} {{ song }}{% if loop|last %}{% else %}; {% endif %}{% endfor %}</td>
                        <td>{% for item in number.musensemble %}{{ item }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{{ number.dubbing }}</td>
                        <td>{{ number.tempoThesaurus }}</td>
                        <td>{% for item in number.musicalThesaurus %}{{ item.title }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{% for person in number.arrangers %}{{ person }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>
                        <td>{{ number.arrangerComment }}</td>
                        {#<td>{{ number.lyrics }}</td>#}
                        <td>{{ number.commentMusic }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h2>Intertextuality</h2>

                <table class="striped middle-table">
                    <tr>
                        <th>Source</th>
                        <th>Stagenumber</th>
                        <th>Source details</th>
                        <th>Quotation</th>
                        <th>Quotation text</th>

                    </tr>
                    <tr>
                        <td>{% for item in number.sourceThesaurus  %}{{ item }}{% endfor %}</td>
                        <td>{% for item in number.stagenumbers  %}{{  item.title }}{% endfor %}</td>
                        <td>{{  number.commentReference }}</td>
                        <td>{%  for item in number.quotationThesaurus %}{{ item }}{% endfor %}</td>
                        <td>{{ number.quotationText }}</td>
                    </tr>
                </table>
            </div>
        </div>

        {#faire apparaitre ces parties si user#}
        {#<div class="row">#}
            {#<div class="col s12">#}
                {#<h2>Complement</h2>#}

                {#<table class="striped middle-table">#}
                    {#<tr>#}
                        {#<th>Director</th>#}
                        {#<th>Cost</th>#}
                        {#<th>Cost comments</th>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>{% for person in number.director %}{{ person }}{% if loop|last %}{% else %}, {% endif %}{% endfor %}</td>#}
                        {#<td>{%  if number.cost == 0 %}{% else %}{{ number.cost }}{%  endif %}</td>#}
                        {#<td>{{ number.costComment }}</td>#}

                    {#</tr>#}
                {#</table>#}

            {#</div>#}
        {#</div>#}

        {#<div class="row">#}
            {#<div class="col s12">#}
                {#<h2>Lyrics</h2>#}
                {#<p>{{ number.lyrics }}</p>#}
            {#</div>#}
        {#</div>#}


        </section>

        {#If admin : une page décrivant l'état #}



{% endblock %}