
<div class="row">

    <div class="col s12">
        <div class="cartouche mini-form ">
            {{form_row(stagenumberForm.title, {
                'label' : "Title"
            })}}
            {{ form_row(stagenumberForm.order) }}
            {{ form_row(stagenumberForm.type) }}
            {{ form_row(stagenumberForm.costumes) }}
            {{ form_row(stagenumberForm.musicals) }}
            {{ form_row(stagenumberForm.dancingstyle) }}
            {{ form_row(stagenumberForm.genre) }}
            {{ form_row(stagenumberForm.characters) }}
            {{ form_row(stagenumberForm.description, {
                'attr': {'class': 'materialize-textarea'},
                'label' : "Setting"
            }) }}
            {{ form_row(stagenumberForm.ibdb) }}
            {{ form_row(stagenumberForm.setting, {
                'attr': {'class': 'materialize-textarea'},
                'label' : "Setting"
            }) }}
            {#{{ form_row(stagenumberForm.number) }}#}
            {{ form_row(stagenumberForm.song) }}
            {{ form_row(stagenumberForm.dancemble) }}
            {{ form_row(stagenumberForm.musensemble) }}
            {{ form_row(stagenumberForm.performers) }}
            {{ form_row(stagenumberForm.cast) }}

        </div>
    </div>

</div>
