* {
    margin: 0;
    padding: 0;
}

#container{
    margin: 0 auto;
    position: relative;
    /*width:100%;*/
    height: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.svg {
    height: 150px;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}

#tag {
    color: black;
    background-color: white;
    width: 170px;
    height: 80px;
    position: absolute;
    display: none;
    padding:3px 6px;
    margin-left: -80px;
    font-size: 15px;
}
#tag span{
    color: #CC0000;
}
#film h1 {
    font-size:2em;
}
#film h2{
    font-size:1.8em;
    /*text-align: center;*/
}
.card p{
    line-height: 1em;
}
#tabTimelineContainer {
    padding-top: 20px;
    /*width: 600px;*/
    height: 500px;
}


#film h1 {
    font-size:2em;
}

#film h2{
    font-size:1.8em;
    /*text-align: center;*/
}

.card p{
    line-height: 1em;
}

.films-btn{
    font-size: 0.8em;
}




