/* General */

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(../material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
	url(../material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff) format('woff'),
	url(../material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@media only screen and (min-width: 993px) {
	.container.large {
		width: 90%;
	}
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

body{
	/*background: url(../img/visuel3.jpg);*/
/*	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
*/
}

nav, footer{
	background:#CC0000 !important;
}

h1, h2, h3, h4, h5{
	color:#CC0000;
}

h1{
	font-size: 2.5em;
}

h2{
	font-size: 2em;
}

h3{
	font-size:1.5em;
}

h4{
	font-size : 1em;
}


/* - Classes - */

.uppercase{
	text-transform : uppercase;
}

.cursor{
	cursor:pointer;
}

.number {
	font-size: 2.6em;
}

.fond{
	background: rgba(255,255,255,0.7);
	border-radius: 8px;
	padding: 10px;
	margin: auto;
}

.cursor{
	cursor:pointer;
}

.pointer{
	cursor: pointer;
}

.inline{
	display:inline-block;
}

.parallax-container {
	height: 350px;
	margin-bottom: 20px;
}

.medium{
	width: 750px;
}

.large{
	width:1024px;
}

/*.material-icons{*/
	/*font-size:90px;*/
/*}*/
/* Other */

div .cut {
	color:white;
	height:80px;
	background:#CC0000;
	padding : 10px;
	text-align: center;
}


.cartoucheContent, .cartouche{
	border:1px solid #CC0000;
	border-radius: 3px;
	padding : 10px;
	margin: 5 15px;
	margin-bottom: 10px;
}


#index-banner{
	height: 400px;
	font-size: 2em;
	text-transform: uppercase;
	padding-top: 60px;
}


.items li, .resultMovies{
  margin-bottom: 5px;
  background-color:white; 
  color : #CC0000;
  border:  1px solid #CC0000;
}

.resultMovies{
	margin :2px;
}



.number-label {
	font-size: 1.4em;
}

.card{
	height:auto;
	overflow : auto;
	padding : 10px;
}


.mini-form{
	font-size:0.8em;
	line-height: 0.8em;
}

.mini-table td, .mini-table th{
	font-size:0.8em;
	line-height: 1em;
	padding: 2px 5px;

}

.middle-table td, .middle-table th{
	font-size:0.9em;
	line-height: 1.2em;
	padding: 3px 5px;

}

#about .card{
	height:auto;
	overflow : auto;
}

#logo{
	height:60px;
	position:fixed;
	left:10px;
}


#results  a{
	display : block;
	margin-top : 5px;
	margin-bottom: 5px;
}

#results h3{
	text-align: center;
	margin-bottom: 2em;
}


#exoticism .intro{
	margin-top:1em;
	margin-bottom: 2em;
}

.float{
	float : right;
}

/*Materialize black*/
.mblack{
	font-color: rgba(0, 0, 0, 0.87)!important;
}
/*#bar{*/
	/*height:500px;*/
	/*background :red;*/
/*}*/

/*viz mediane*/

.melviz{
	display: inline-block;
	height: 300px;
	width: 95%;
	text-align: center;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	margin-top: 60px;
}

.title-mini{
	font-size: 1.3em;
}

.poster{
	max-height:300px;
}


.film{
	height : 400px;
	padding :10px;
}

