{% extends 'base.html.twig' %}


{% block stylesheets %}

    {{ parent() }}
    <style>

        .axis--x path {
            display: none;
        }

        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

    </style>
{% endblock %}

{% block body %}

    <section class='container'>
        <h1>Admin Page</h1>

        <article>
            <h2>Count of new numbers by day</h2>

            <div id="chart_div">

            </div>

            {#<table class="striped">#}
            {#<tr>#}
            {#<td>Count</td>#}
            {#<td>Date</td>#}
            {#</tr>#}
            {#{% for number in numberByMonth %}#}
            {#<tr>#}
            {#<td>{{ number.nb }}</td>#}
            {#<td>{{ number.day }} - {{ number.month }} - {{ number.year }}</td>#}
            {#</tr>#}
            {#{% endfor %}#}
            {#</table>#}
        </article>


        {#<svg width="960" height="500"></svg>#}

        <article>
            <h2>All users</h2>
            <table class="striped tablesorter">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>email</th>
                    <th>enabled</th>
                    <th>role</th>
                    <th>last login</th>
                    <th>promote</th>
                </tr>
                </thead>
                <tbody>
                {%  for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.enabled }}</td>
                        <td>
                            {% for role in user.roles %}
                                {{ role }}{% if loop|last %}{% else %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ user.lastLogin|date() }}
                        </td>
                        <td><a href="">promote</a> (soon)</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>

        <article>
            <h2>Numbers by editor</h2>

            <table class="striped">
                <tr>
                    <th>Username</th>
                    <th>Count</th>
                </tr>
                {%  for number in numbersByEditor %}
                    <tr>
                        <td>{{  number.name }}</td>
                        <td>{{ number.nb }}</td>
                    </tr>
                {% endfor %}
            </table>
        </article>

        <article>
            <h2>Last numbers</h2>
            <table class="striped">
                {% for number in lastNumbers %}
                    <tr>
                        <td>{{ number.title }}</td>
                        <td>{{ number.lastUpdate | date() }}</td>
                        {#<td>{{ number.editors.username }}</td>#}
                    </tr>
                {% endfor %}
            </table>
        </article>

        <article>
            <h2>Numbers waiting for validation</h2>
            <p>[in progress]</p>
        </article>


    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

//            var data = new google.visualization.DataTable();
//            data.addColumn('number', 'Date');
//            data.addColumn('number', 'Number of Numbers');


            {#data.addRows([#}
            {#{% for item in numberByMonth %}#}
            {#[{{ item.day }}{{ item.month }}, {{ item.nb }}],#}
            {#{% endfor %}#}

            {#]);#}

            var data = google.visualization.arrayToDataTable([
                ['Date', 'Number'],
                {% for item in numberByMonth %}
                ['{{ item.day }}-{{ item.month }}-{{ item.year }}', {{ item.nb }}],
                {% endfor %}
            ]);


            var options = {
                title: 'New numbers by day',
                legend: { position: 'bottom' }
            };


            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>


{% endblock %}