{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/scenario/marion.css')}}">
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Music</h1>

        <div class="row">

            <!-- 1) Number of songs -->

            <article class="col s12">

                <!-- Genres Modal Structure -->
                <div id="modal_all_songs" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h3>Tunes</h3>
                        <div class="row s12">

                            <article class="col s12">

                                <table class="highlight tablesorter mini-table">
                                    <thead>
                                    <tr>
                                        <th>Title of the tune</th>
                                        {#<th>Date</th>#}
                                        <th>Nb of Production Numbers using this Tune</th>
                                        <th>Nb of Films using this Tune</th>
                                        {#<th>Nb of Films using this Tune in a danced Number</th>#}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in songs  %}
                                        {% if item.title is not null %}
                                            <tr>
                                                <td><a href="{{ path('song' , { 'songId' : item.songId }) }}">{{ item.title }}</a></td> <!-- lien vers une notice de stageshow -->
                                                {#<td>{{ item.date }}</td>#}
                                                <td>{{ item.nb }}</td>
                                                <td>{{ item.nbFilms }}</td>
                                            </tr>
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </article>

                        </div>
                    </div>
                </div>

                <!-- Visualisations -->
                <div class="card billet">
                <article class="col m12 s12 valign-wrapper">
                    <div>
                        <div class="big-card">
                            <p class="center"><span class="major"><span class="huge">{{ songs|length }}</span> tunes</span> appear in <span class="strong">{{ global.nbNumber }}</span> numbers in <span class="strong">{{ global.nbFilm }}</span> films</p>
                        </div>
                    </div>

                </article>


                <article class="col m12 s12 valign-wrapper">
                    <div>
                        <div class="big-card">
                            <p class="center"><span class="major"><span class="huge">{{ danceNumbers|length }}</span> total dance numbers</span> in <span class="strong">{{ danceFilms|length }}</span> films</p>

                        </div>
                    </div>
                </article>
                </div>

                <!-- Genre Modal Trigger -->
                <div class="row">

                    <article class="col s12 center more">
                            <a class="modal-trigger black-text" href="#modal_all_songs">
                                + More informations
                                {#<i class="material-icons">more</i>#}
                            </a>
                    </article>
                </div>

            </article>


            <!---------------------------->
            <!-- 2) Songs with two films -->
            <!---------------------------->

            <article class="col s12">

                <!-- Genres Modal Structure -->
                <div id="modal_songs" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <div class="row s12">

                            <h3>Tunes appearing in at least 2 films</h3>

                            <article class="col s12">

                                <table class="highlight tablesorter mini-table">
                                    <thead>
                                    <tr>
                                        <th>Title of the tune</th>
                                        <th>Nb of films using this tune</th>
                                        <th>Nb of numbers using this tune</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in songWithMultipleFilms  %}
                                        {% if item.title is not null %}
                                            <tr>
                                                <td><a href="{{ path('song' , { 'songId' : item.songId }) }}">{{ item.title }}</a></td>
                                                <td>{{ item.nbFilm }}</td>
                                                <td>{{ item.nbNumber }}</td>
                                            </tr>
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </article>

                        </div>
                    </div>
                </div>

                <!-- Visualisations -->
                <div class="card billet">

                    <article class="col m12 s12 valign-wrapper">
                        <div>
                            <div class="big-card">

                                <p class="center"><span class="major"><span class="huge">{{ songWithMultipleFilms|length }}</span> tunes</span> appear in at least 2 films <br>in a corpus of <span class="major"><span class="huge">{{ listFilmsWith2Songs|length }}</span> films</span></p>

                            </div>
                        </div>

                    </article>

                    <article class="col m12 s12 valign-wrapper">
                        <div>
                            <div class="big-card">

                                <p class="center"><span class="major"><span class="huge">{{ listeSongsWithFilms2SongsAndDance|length }}</span> tunes</span> danced in at least 2 films in a corpus of<br><span class="major"><span class="huge">{{ listeFilmsWith2SongsAndDance|length }}</span> films</span></p>

                            </div>
                        </div>

                    </article>
                </div>

                <!-- Genre Modal Trigger -->

                <div class="row">

                    <article class="col s12 center more">
                        <a class="modal-trigger black-text" href="#modal_songs">
                            + More informations
                            {#<i class="material-icons">more</i>#}
                        </a>
                    </article>


                </div>

            </article>


            {#<article class="col offset-s2 s10">#}

                {#<!-- Genres Modal Structure -->#}
                {#<div id="modal_films" class="modal modal-fixed-footer">#}
                    {#<div class="modal-content">#}
                        {#<div class="row s12">#}

                            {#<h3>Films using dance in at least these 2 (or more) films</h3>#}

                            {#<article class="col s12">#}

                                {#<table class="highlight tablesorter mini-table">#}
                                    {#<thead>#}
                                    {#<tr>#}
                                        {#<th>Title of the film</th>#}
                                        {#<th>Nb of films using this tune</th>#}
                                        {#<th>Nb of numbers using this tune</th>#}

                                    {#</tr>#}
                                    {#</thead>#}
                                    {#<tbody>#}
                                    {#{% for item in listeFilmsWith2SongsAndDance  %}#}
                                        {#{% if item.title is not null %}#}
                                            {#<tr>#}
                                                {#<td><a href="{{ path('film' , { 'filmId' : item.filmId }) }}">{{ item.title }}</a></td>#}
                                                {#<td>{{ item.nbFilm }}</td>#}
                                                {#<td>{{ item.nbNumber }}</td>#}
                                                {#<!-- lien vers une notice de stageshow -->#}
                                                {#<td>{{ item.date }}</td>#}
                                            {#</tr>#}
                                        {#{% else %}#}
                                        {#{% endif %}#}
                                    {#{% endfor %}#}
                                    {#</tbody>@#}
                                {#</table>#}
                            {#</article>#}

                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<!-- Visualisations -->#}
                {#<article class="card col m12 s12 valign-wrapper">#}
                    {#<div>#}
                        {#<div class="big-card">#}

                            {#<p class="center"><span class="huge">{{ listeSongsWithFilms2SongsAndDance|length }}</span> tunes danced in at least 2 films in a corpus of<br><span class="huge">{{ listeFilmsWith2SongsAndDance|length }}</span> films</p>#}

                       {#</div>#}
                   {#</div>#}

               {#</article>#}


               {#<!-- Genre Modal Trigger -->#}

               {#<div class="row">#}

                   {#<article class="col s12 center more">#}
                       {#<a class="modal-trigger black-text" href="#modal_films">#}
                           {#+ More informations#}
                           {#<i class="material-icons">more</i>#}
                        {#</a>#}
                    {#</article>#}
                {#</div>#}

            {#</article>#}

        </div>
    </section>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>

//        function displayPage(){
//
//        }

//        $(document).keydown(function(e) {
//            switch(e.which) {
//                case 37: // left
//                    alert("left");
//                    break;
//                case 39: // right
//                    alert("right");
//                    break;
//                default: return; // exit this handler for other keys
//            }
////            e.preventDefault(); // prevent the default action (scroll / move caret)
//        });



    </script>

{% endblock %}
