{% extends "base.html.twig"   %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/scenario/marion.css')}}">

    <style>
        #melviz_dancingtype p{
            font-size: 0.7em;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="container">

        <!-- dance type -->
            <div class="card">
            <h2>Dancing type</h2>
            <div id="melviz_dancingtype" class="melviz"></div>
            <p class="center more">more informations</p>
        </div>

        <div class="card">
            <!-- dance subgenre -->
            <h2>Dance subgenre</h2>
            <div id="melviz_dancesubgenre" class="melviz"></div>
            <p class="center more">more informations</p>
        </div>

        <div class="card">
            <!-- dance content -->
            <h2>Dance content</h2>
            <div id="melviz_dancecontent" class="melviz"></div>
            <p class="center more">more informations</p>
        </div>
    </section>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script type="text/javascript" src="{{ asset('js/melviz.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/donut_simple.js') }}"></script>

<script>

    //Melviz dancetype
    var url = '{{ path("api_person_melviz_dancetype") }}';
    d3.json(url , function(error, data) {
        viz_mediane("melviz_dancingtype", data, 16);
//                versionBarres("melviz_completeness", data, 2);
    });

    //Melviz dancesubgenre
    var url = '{{ path("api_person_melviz_dancesubgenre") }}';
    d3.json(url , function(error, data) {
        viz_mediane("melviz_dancesubgenre", data, 11);
//                versionBarres("melviz_completeness", data, 2);
    });

    //Melviz dancecontent
    var url = '{{ path("api_person_melviz_dancecontent") }}';
    d3.json(url , function(error, data) {
        viz_mediane("melviz_dancecontent", data, 8);
//                versionBarres("melviz_completeness", data, 2);
    });

</script>

{% endblock %}