{% extends 'base.html.twig' %}

{% block body %}

<section class="container" id="exoticism">

    <header>
        <h1 class="center">Exoticism</h1>
    </header>

    <article class="intro">

    {% for item in popularexoticism %}
        <a href="{{ path('getOneExoticism', { 'item' : item.title }) }}" class="chip">{{ item.title }} ({{ item.nb }})</a>
    {% endfor %}

    </article>

    <article class="card row">
        <div class=" col s12">
            <p><span class="number">{{ exoticism|length }}</span> different exoticisms exist, <span class="number">{{ mostPopular.title }}</span> is the most used, <span class="number">{{ total.nb }}</span> exoticisms have been saved for <span class="number">{{ totalNumber.nb }}</span> different numbers.</p>
        </div>
    </article>


    <article class="row">

        <div id="chart_div" class="col s6" style=" height: 400px;"></div>

        <div id="chart_div2" class="col s6" style="height: 400px;"></div>

    </article>

    <article>
        <p>Ajouter les costumes, les imaginary et diegetic place, dance et musiques qui sont "exotic".</p>
    </article>

    {#<article>#}

        {#by decade?#}
    {#</article>#}

</section>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                    {% for item in popularexoticism %}
                        ['{{ item.title }}' , {{ item.nb }}],
                    {% endfor %}
                ]);

            var options = {
                title: 'Number of exoticism',
                legend: { position: 'none' },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);


            var options = {
                title: 'Ratio',
                pieHole: 0.4,
            };


            var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart2.draw(data, options);
        }
    </script>

{% endblock %}