{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">

        <header>
            <h1 class="center">Mood</h1>
        </header>

        <div>
            <h2>General Mood</h2>
            <article class="intro">

                {% for item in popularmood %}
                    <a href="{{ path('getOneMood', {'category' : item.category , 'itemId' : item.itemId }) }}" class="chip">{{ item.title }} ({{ item.nb }})</a>
                {% endfor %}

            </article>

            <article class="card row">
                <div class=" col s12">
                    <p><span class="number">{{ mood|length }}</span> different moods exist, <span class="number">{{ mostPopular.title }}</span> is the most used, <span class="number">{{ total.nb }}</span> moods have been saved for <span class="number">{{ totalNumber.nb }}</span> different numbers.</p>
                </div>
            </article>


            <article class="row">

                <div id="chart_div" class="col s6" style=" height: 400px;"></div>

                <div id="chart_div2" class="col s6" style="height: 400px;"></div>

            </article>

            {#<article>#}

            {#by decade?#}
            {#</article>#}
        </div>

        <div>
            <h2>Genre</h2>

            <p>Camembert des genre par studio</p>

            <article class="intro">

                {% for item in popularmoodGenre %}
                    {#Prendre l'id?#}
                    <a href="{{ path('getOneMood', {'category' : item.category , 'itemId' : item.itemId }) }}" class="chip">{{ item.title }} ({{ item.nb }})</a>
                {% endfor %}

            </article>

            <article class="card row">
                <div class=" col s12">
                    <p><span class="number">{{ moodGenre|length }}</span> different tones exist, <span class="number">{{ mostPopularGenre.title }}</span> is the most used, <span class="number">{{ totalGenre.nb }}</span> moods have been saved for <span class="number">{{ totalNumberGenre.nb }}</span> different numbers.</p>
                </div>
            </article>


            <article class="row">

                <div id="chart_div3" class="col s6" style=" height: 400px;"></div>

                <div id="chart_div4" class="col s6" style="height: 400px;"></div>

            </article>

            {#<article>#}

            {#by decade?#}
            {#</article>#}
        </div>
    </section>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in popularmood %}
                ['{{ item.title }}' , {{ item.nb }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Number of general mood',
                legend: { position: 'none' },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);


            var options = {
                title: 'Ratio',
                pieHole: 0.4,
            };


            var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart2.draw(data, options);

            var data3 = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in popularmoodGenre %}
                ['{{ item.title }}' , {{ item.nb }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Number of genre',
                legend: { position: 'none' },
            };
            var chart3 = new google.visualization.ColumnChart(document.getElementById('chart_div3'));
            chart3.draw(data3, options);


            var options = {
                title: 'Ratio',
                pieHole: 0.4,
            };

            var chart4 = new google.visualization.PieChart(document.getElementById('chart_div4'));
            chart4.draw(data3, options);
        }
    </script>

{% endblock %}