{% extends 'base.html.twig' %}

{%  block stylesheets %}
    {{ parent() }}
    <style>
        .card{
            height: 100px;
        }
    </style>
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Exoticism : {% for item in exoticism %}{{ item.title }}{% endfor %}</h1>

        <article>
            <h2>List of movies with {% for item in exoticism %}{{ item.title }}{% endfor %} exoticism</h2>

            <div class="liste row">
                {% for film in films  %}
                    <div class="card horizontal col s4 ">
                        <img src="http://img.omdbapi.com/?i={{ film.imdb }}&apikey=1733f6a&h=100" alt="poster">
                        <a href="{{ path('film', {'filmId' : film.filmId}) }}"><h3>{{ film.filmTitle }} ({{  film.nb }})</h3></a>
                    </div>
                {% endfor %}
            </div>
        </article>

        <article>
            <div id="chart_div"></div>

        </article>

        <article>
            <h2>List of numbers with {% for item in exoticism %}{{ item.title }}{% endfor %} exoticism</h2>

            <div class="liste row">
                <table class="striped">
                    <tr>
                        <th>number</th>
                        <th>Released</th>
                        <th>film</th>

                    </tr>
                    {% for number in numbers  %}
                    <tr>
                        <td><a href="{{ path('number', {'id' : number.id}) }}">{{ number.title }}</a></td>
                        <td>{{ number.released }}</td>
                        <td>{{ number.filmTitle }}</td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </article>
    </section>

{% endblock %}


{% block javascripts %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Name', 'Occurences'],
                {% for item in exoticismByYear  %}
                ['{{ item.released }}' , {{ item.nb }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Number of exoticism by year',
                legend: { position: 'none' },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);

        }
    </script>

{% endblock %}