{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .cartoucheContent{
            margin-top : 1em;
            margin-bottom: 2em;
        }


        .film-select{
            color :#CC0000;
            padding-left: 3px;
        }

        .is-checked{
            color :#CC0000;
            text-decoration : underline;
        }

        .theFilm{
            background :#CC0000;
            color : white;
            font-weight: bold;
            padding: 3px 5px;
            border-radius: 3px;
        }

    </style>

{% endblock %}

{% block body %}

    <section class='container row'>

        <div class="col s12 row">

            {% if myFilms|length > 0  %}

                <article class="col s4">
                    <h2>My films</h2>

                    <p class="sort-items pointer">Sort : <span class="chip" data-sort-value="title">alphabetical</span><span class="chip" data-sort-value="released">year</span></p>

                    <p class="help">Click on a film title below to filter the numbers on the right</p>

                    <div class="grid ">
                    {% for item in myFilms  %}
                        <div class="element-item pointer film">
                        <span class="select{{ item.filmId }} film-select">
                            <span class="title">{{ item.title }}</span>
                            <span class="released">({{ item.released }})</span>
                            {% if loop.last %}{% else %} ; {% endif %}
                        </span>
                        </div>
                    {% endfor %}
                    </div>
                </article>

                <article class="col s8">

                    <p class="help">Let the mouse over the name of table's category to display the full name.</p>

                    <p class="help">TI = title, OU = outlines, ST = structure, SH = shots, PE = performers, BA = backstage, TH = theme, TO = tone, DA = dance, MU = music, RE = references, CO = complement

                    <div class="grid_numbers">
                    {% for number in myNumbers  %}


                        <div class="card col m4 s6 film{{ number.film.filmId }}">

                            <h3 class="center">{{ number.title }}</h3>
                            <p>{{ number.film }}</p>

                            <a href="{{path('number', { 'id' : number.id })}}">view</a>
                            <a href="{{ path('number_edit', {'id' : number.id }) }}">edit</a>

                            <table id="myNumber" class="striped mini-table">
                                <tr>
                                    <th title="title">TI</th>
                                    <th title="outlines">OU</th>
                                    <th title="structure">ST</th>
                                    <th title="shots">SH</th>
                                    <th title="performers">PE</th>
                                    <th title="backstage">BA</th>
                                </tr>
                                    <tr>
                                        <td>{% if number.completeTitle == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeTitle == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                                        <td>{% if number.completeTc == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeTc == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                                        <td>{% if number.completeStructure == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeStructure == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                                        <td>{% if number.completeShots == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeShots == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                                        <td>{% if number.completePerformance == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completePerformance == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                                        <td>{% if number.completeBackstage == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeBackstage == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>

                                    </tr>
                            </table>

                            <br>

                            <table id="myNumber" class="striped mini-table">
                                <tr>
                                    <th title="themes">TH</th>
                                    <th title="tone">TO</th>
                                    <th title="dance">DA</th>
                                    <th title="music">MU</th>
                                    <th title="references">RE</th>
                                    <th title="complement">CO</th>
                                </tr>
                                <tr>
                                    <td>{% if number.completeTheme == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeTheme == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                                    <td>{% if number.completeMood == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeMood == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                                    <td>{% if number.completeDance == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeDance == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                                    <td>{% if number.completeMusic == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeMusic == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                                    <td>{% if number.completeReference == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeReference == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>
                                    <td>{% if number.completeCost == 1 %}<i class="material-icons tiny green-text">done</i>{% elseif number.completeCost == 2 %}<span class="grey-text">?</span>{% else %}<i class="material-icons tiny red-text">not_interested</i>{% endif %}</td>

                                </tr>
                            </table>
                        </div>
                    {% endfor %}


                    </div>

                </article>

            {% endif %}


            <hr>

            <!-- Search a Film -->
            <article>
                <h2>Search a film / add a new number</h2>
                
                <input type="text" class="text" placeholder="Search a movie">
            </article>

            <hr>

             <!-- My stats -->
            <article>
                <h2>My activity</h2>

                <p>Some stats</p>
            </article>

            <hr>


            <article class="cartoucheContent">
                <h2 class="center">Last Changed numbers</h2>

                <table class="striped middle-table">
                    <tr>
                        <th>title</th>
                    </tr>
                    {% for number in myLastNumbers  %}
                        <tr>
                            <td>{{ number.title }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </article>

            <article class="cartoucheContent">
                <h2 class="center">Last Changed movies</h2>

                <table class="striped middle-table">
                    <tr>
                        <th>title</th>
                    </tr>
                    {% for film in myLastFilms %}
                        <tr>
                            <td>{{ film.title }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </article>

            <p>En construction...</p>
        </div>

    </section>


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>

        //Order the movies

        var $grid = $('.grid').isotope({
            itemSelector: '.element-item',
            layoutMode: 'fitRows',
            getSortData: {
                title: '.title',
                released: '.released'
            }
        });

        // bind sort button click
        $('.sort-items').on( 'click', 'span', function() {
            var sortValue = $(this).attr('data-sort-value');
            $grid.isotope({ sortBy: sortValue });
        });

        // change is-checked class on buttons
        $('.sort-items').each( function( i, buttonGroup ) {
            var $buttonGroup = $( buttonGroup );
            $buttonGroup.on( 'click', 'span', function() {
                $buttonGroup.find('.is-checked').removeClass('is-checked');
                $( this ).addClass('is-checked');
            });
        });

//Select the numbers of a movie

        var $numbers = $('.grid_numbers').isotope({
            itemSelector: '.card',
            layoutMode: 'fitRows',
        });

        //button filter
        {% for item in myFilms %}
        $('.film').on('click', '.select{{ item.filmId }}', function(){
            $numbers.isotope({ filter: '.film{{ item.filmId }}' });
            console.log("filter movie "+{{ item.filmId }});
        })
        {% endfor %}

        // change is-checked class on buttons
        {% for item in myFilms %}

        $('.film').on( 'click', 'span', function() {
            $('.film').find('.theFilm').removeClass('theFilm');
            $( this ).addClass('theFilm');
        });

        {% endfor %}

    </script>

{% endblock %}